[submodule "pack/my-plugins/start/ctrl.vim"]
	path = pack/my-plugins/start/ctrl.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/my-plugins/start/neocomplete"]
	path = pack/my-plugins/start/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "pack/my-plugins/start/nerdtree"]
	path = pack/my-plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/my-plugins/start/vim-autotag"]
	path = pack/my-plugins/start/vim-autotag
	url = https://github.com/craigemery/vim-autotag.git
    ignore = dirty
[submodule "pack/my-plugins/start/jedi-vim"]
	path = pack/my-plugins/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "pack/my-plugins/start/dracula-theme"]
	path = pack/my-plugins/start/dracula-theme
	url = https://github.com/dracula/vim
